// .mustart-gradient-{name}
// .mustart-gradient-{name}-flip
// .mustart-gradient-{name}-dark
// .mustart-gradient-{name}-dark-flip
// .mustart-gradient-{name}-light
// .mustart-gradient-{name}-light-flip
// .mustart-gradient-{name}-text
// .mustart-gradient-{name}-text-flip
// .mustart-gradient-{name}-text-dark
// .mustart-gradient-{name}-text-dark-flip
// .mustart-gradient-{name}-text-light
// .mustart-gradient-{name}-text-light-flip

=mustart-gradient($a-color, $b-color, $name)
  .#{$gradient-class-prefix}-#{$name}
    $a-color-dark: darken($a-color, $gradient-dark-percentage)
    $a-color-light: lighten($a-color, $gradient-light-percentage)
    $b-color-dark: darken($b-color, $gradient-dark-percentage)
    $b-color-light: lighten($b-color, $gradient-light-percentage)

    background: $a-color
    +background-image(linear-gradient(to left, $a-color, $b-color))
    &-flip
      background: $b-color
      +background-image(linear-gradient(to left, $b-color, $a-color))

    &-dark
      background: $a-color-dark
      +background-image(linear-gradient(to left, $a-color-dark, $b-color-dark))
      &-flip
        background: $b-color-dark
        +background-image(linear-gradient(to left, $b-color-dark, $a-color-dark))
    &-light
      background: $a-color-light
      +background-image(linear-gradient(to left, $a-color-light, $a-color-light))
      &-flip
        background: $b-color-light
        +background-image(linear-gradient(to left, $b-color-light, $a-color-light))

    &-text
      @extend .#{$gradient-class-prefix}-#{$name}
      &-flip
        @extend .#{$gradient-class-prefix}-#{$name}-flip
      &-dark
        @extend .#{$gradient-class-prefix}-#{$name}-dark
        &-flip
          @extend .#{$gradient-class-prefix}-#{$name}-dark-flip
      &-light
        @extend .#{$gradient-class-prefix}-#{$name}-light
        &-flip
          @extend .#{$gradient-class-prefix}-#{$name}-light-flip
    &-text, &-text-flip, &-text-dark, &-text-dark-flip, &-text-light, &-text-light-flip
      @extend .#{$gradient-class-prefix}-text
